{
.bordered{
border: 3px;solid; blud;
}

border: 6px;solid:
.border-style:

.paddinged{
    paddinge: 10px 11px 12px 13px;
    border: 1px solid yellow;
}
.margin:5px 6p 7px 8px ; */
.margin: 0 auto;
width:150px;
}

.aligned{
    font-size: 20px;
    text-align: center;
    
}

body{

}

.text_effecd{
    font-weight:900 ;
    font-size:20px ;
    color;coral;
}text-shadow: 5px 5px
그림자 글자
</div>

